@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
/* Указываем box sizing */
* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none; }

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

header .sup_header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px; }
  header .sup_header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 66px; }
    header .sup_header_menu_item a {
      color: #728399;
      -webkit-transition: all linear 0.3s;
      transition: all linear 0.3s; }
      header .sup_header_menu_item a:hover {
        color: #2389FF; }
  header .sup_header_login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 34px;
    margin-left: 290px; }
    header .sup_header_login_item a {
      color: #728399;
      -webkit-transition: all linear 0.3s;
      transition: all linear 0.3s; }
      header .sup_header_login_item a:hover {
        color: #2389FF; }
header .sub_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F4F7FE;
  height: 86px;
  border-bottom: 1px solid #E7E7E7; }
  header .sub_header_adaptive_block {
    display: none; }
  header .sub_header img {
    margin-right: 150px; }
  header .sub_header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 33px;
    padding-right: 60px; }
    header .sub_header_menu_item a {
      color: #304560;
      font-size: 16px;
      -webkit-transition: all linear 0.3s;
      transition: all linear 0.3s; }
      header .sub_header_menu_item a:hover {
        color: #2389FF; }
  header .sub_header_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px; }
    header .sub_header_wrapper_feedback {
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: white;
      -webkit-box-shadow: 6px 4px 4px #DCDCDC;
              box-shadow: 6px 4px 4px #DCDCDC;
      width: 200px;
      height: 51px;
      left: 1145px;
      top: 29px;
      border: 1px solid #2389FF;
      border-radius: 8px;
      font-size: 16px;
      -webkit-transition: all linear 0.2s;
      transition: all linear 0.2s; }
      header .sub_header_wrapper_feedback:active {
        background-color: rgba(255, 255, 255, 0.384); }
      header .sub_header_wrapper_feedback:hover {
        -webkit-box-shadow: none;
                box-shadow: none; }
header .main_header {
  min-height: 400px;
  padding: 99px 0 0 0;
  background: url(../img/noroot-2.png) left center/auto auto no-repeat, url(../img/women_adaptive.png) right center/auto auto no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F4F7FE), to(rgba(244, 247, 254, 0.5)));
  background: url(../img/noroot-2.png) left center/auto auto no-repeat, url(../img/women_adaptive.png) right center/auto auto no-repeat, linear-gradient(180deg, #F4F7FE 0%, rgba(244, 247, 254, 0.5) 100%);
  padding-left: 375px; }
  header .main_header h1 {
    display: block;
    font-weight: 700;
    font-size: 42px;
    color: #304560;
    margin-bottom: 35px;
    line-height: 50px;
    max-width: 466px; }
  header .main_header p {
    font-size: 20px;
    line-height: 130%;
    max-width: 502px;
    color: #728399;
    margin-bottom: 35px; }
  header .main_header button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
    background: #2389FF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    width: 270px;
    height: 55px;
    border: none;
    cursor: pointer;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s; }
    header .main_header button:hover {
      background: #207fec; }
    header .main_header button:active {
      background: #1c6dca; }

main .principle {
  padding: 98px 0 124px 375px;
  padding-right: 375px; }
  main .principle > h2 {
    font-weight: 700;
    font-size: 42px;
    color: #304560;
    margin-bottom: 19px; }
  main .principle > p {
    font-size: 18px;
    line-height: 130%;
    color: #728399;
    max-width: 812px; }
  main .principle_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    main .principle_wrapper_card {
      min-height: 233px;
      max-width: 370px;
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      -webkit-transition-property: -webkit-box-shadow;
      transition-property: -webkit-box-shadow;
      transition-property: box-shadow;
      transition-property: box-shadow, -webkit-box-shadow;
      margin-top: 50px; }
      main .principle_wrapper_card > img {
        margin-bottom: 11px;
        padding: 43px 0px 0px 18px; }
      main .principle_wrapper_card > h3 {
        font-weight: 700;
        font-size: 20px;
        color: #304560;
        margin-bottom: 11px;
        padding-left: 18px; }
      main .principle_wrapper_card > p {
        font-size: 16px;
        line-height: 130%;
        color: #728399;
        max-width: 100%;
        margin-bottom: 19px;
        padding-left: 18px; }
      main .principle_wrapper_card:hover {
        background: url(../img/Vector.svg) bottom right/auto auto no-repeat;
        -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); }
main .effect {
  padding: 0px 0px 93px 368px;
  padding-right: 375px; }
  main .effect > h2 {
    font-weight: 700;
    font-size: 42px;
    color: #304560;
    margin-bottom: 19px; }
  main .effect > p {
    font-size: 18px;
    line-height: 130%;
    color: #728399;
    max-width: 812px; }
  main .effect_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    main .effect_wrapper_card {
      min-height: 369px;
      max-width: 309px;
      text-align: center;
      background: linear-gradient(146.03deg, #F4F7FE 2.16%, rgba(244, 247, 254, 0.5) 98.31%);
      border-radius: 10px;
      margin-top: 50px; }
      main .effect_wrapper_card > img {
        display: block;
        margin: 0 auto; }
      main .effect_wrapper_card > h3 {
        font-weight: 700;
        font-size: 20px;
        color: #304560; }
      main .effect_wrapper_card > p {
        padding-top: 15px;
        font-size: 16px;
        line-height: 130%;
        color: #728399; }
      main .effect_wrapper_card > a {
        opacity: 0;
        padding-top: 12px;
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 18px;
        color: #2389FF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 15px;
        -webkit-transition: all linear 0.3s;
        transition: all linear 0.3s; }
      main .effect_wrapper_card:hover {
        background: linear-gradient(179.35deg, #F4F7FE 4.97%, rgba(244, 247, 254, 0) 103.87%); }
        main .effect_wrapper_card:hover > a {
          opacity: 1; }
main .reviews {
  padding: 0px 0px 0px 378px;
  background: url(../img/noroot_4.png) top left/auto auto no-repeat, url(../img/noroot_5.png) bottom right/auto auto no-repeat, linear-gradient(94.21deg, #F4F7FE 0.24%, rgba(244, 247, 254, 0.5) 100%);
  min-height: 595px;
  padding-right: 375px; }
  main .reviews_flex_wrapper {
    padding-top: 77px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    main .reviews_flex_wrapper > h2 {
      font-weight: 700;
      font-size: 42px;
      color: #304560;
      margin-bottom: 25px; }
    main .reviews_flex_wrapper_button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 17px; }
      main .reviews_flex_wrapper_button > button {
        width: 50px;
        height: 50px;
        background: rgba(35, 137, 255, 0.1);
        border-radius: 40px;
        border: none;
        cursor: pointer; }
        main .reviews_flex_wrapper_button > button > img {
          display: block;
          margin: 0 auto; }
  main .reviews > p {
    font-size: 20px;
    color: #728399; }
  main .reviews_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px; }
    main .reviews_wrapper_card {
      margin-top: 55px;
      min-width: 341px;
      min-height: 275px;
      background: #FFFFFF;
      -webkit-box-shadow: 0px 0px 15px rgba(119, 119, 119, 0.15);
              box-shadow: 0px 0px 15px rgba(119, 119, 119, 0.15);
      border-radius: 10px;
      border: 1px solid #E7E7E7; }
      main .reviews_wrapper_card_person {
        padding: 22px 0px 0px 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px; }
        main .reviews_wrapper_card_person_text > h4 {
          font-size: 18px;
          color: #728399;
          padding-bottom: 8px; }
        main .reviews_wrapper_card_person_text > h3 {
          font-weight: 700;
          font-size: 20px;
          color: #304560;
          padding-bottom: 8px; }
      main .reviews_wrapper_card > h3 {
        font-weight: 700;
        font-size: 18px;
        color: #304560;
        padding: 25px 0 9px 18px; }
      main .reviews_wrapper_card > p {
        font-size: 16px;
        line-height: 21px;
        color: #728399;
        padding: 0px 0px 9px 18px; }
      main .reviews_wrapper_card > a {
        font-weight: 700;
        font-size: 18px;
        color: #2389FF;
        padding-left: 18px;
        -webkit-transition: all ease-in-out 0.1s;
        transition: all ease-in-out 0.1s; }
        main .reviews_wrapper_card > a:hover {
          color: #1c6dca; }
main .partners {
  padding: 101px 375px 100px 375px;
  max-height: 547px; }
  main .partners > h2 {
    font-weight: 700;
    font-size: 42px;
    color: #304560; }
  main .partners > h3 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    color: #728399; }
  main .partners_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 71px;
    gap: 25px; }
main .professional {
  padding: 43px 0px 30px 0;
  background: url(../img/noroot_6.png) top left/auto auto no-repeat, url(../img/noroot_7.png) top right/auto auto no-repeat, linear-gradient(92.31deg, #2389FF 0.74%, rgba(35, 137, 255, 0.5) 98.19%);
  max-height: 253px;
  text-align: center; }
  main .professional > h2 {
    font-weight: 700;
    font-size: 42px;
    color: white; }
  main .professional > h3 {
    padding-top: 18px;
    font-size: 20px;
    color: white; }
  main .professional > a > button {
    margin-top: 40px;
    width: 270px;
    height: 55px;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #2389FF;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 6px 4px 4px #2363ec;
            box-shadow: 6px 4px 4px #2363ec;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s; }
    main .professional > a > button:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }
    main .professional > a > button:active {
      background: #ffffffef; }

footer {
  padding: 113px 0 28px 0; }
  footer .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 100px; }
    footer .flex .follow_item {
      margin-bottom: 20px; }
      footer .flex .follow_item > p {
        line-height: 18px;
        color: #728399;
        max-width: 370px; }
      footer .flex .follow_item > h3 {
        font-weight: 700;
        font-size: 16px;
        color: #304560; }
      footer .flex .follow_item_img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 23px; }
        footer .flex .follow_item_img a {
          -webkit-filter: grayscale(1);
                  filter: grayscale(1);
          -webkit-transition: all linear 0.3s;
          transition: all linear 0.3s; }
          footer .flex .follow_item_img a:hover {
            -webkit-filter: grayscale(0);
                    filter: grayscale(0); }
        footer .flex .follow_item_img_social {
          min-width: 40px;
          min-height: 40px; }
    footer .flex .pages_item, footer .flex .product_item {
      margin-bottom: 15px; }
      footer .flex .pages_item > h3, footer .flex .product_item > h3 {
        font-weight: 700;
        font-size: 20px;
        color: #304560; }
      footer .flex .pages_item a, footer .flex .product_item a {
        -webkit-transition: all linear 0.3s;
        transition: all linear 0.3s;
        font-size: 18px;
        color: #728399; }
        footer .flex .pages_item a:hover, footer .flex .product_item a:hover {
          color: #2389FF; }
    footer .flex .spam_item {
      margin-bottom: 20px; }
      footer .flex .spam_item > h3 {
        font-weight: 700;
        font-size: 20px;
        color: #304560;
        min-width: 289px; }
      footer .flex .spam_item > input {
        width: 298px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        border-radius: 5px;
        padding-left: 20px; }
        footer .flex .spam_item > input::-webkit-input-placeholder {
          font-size: 16px;
          color: #DEDEDE; }
        footer .flex .spam_item > input:-ms-input-placeholder {
          font-size: 16px;
          color: #DEDEDE; }
        footer .flex .spam_item > input::-ms-input-placeholder {
          font-size: 16px;
          color: #DEDEDE; }
        footer .flex .spam_item > input::placeholder {
          font-size: 16px;
          color: #DEDEDE; }
      footer .flex .spam_item > button {
        cursor: pointer;
        width: 322px;
        height: 44px;
        background: #2389FF;
        border-radius: 5px;
        font-weight: 700;
        font-size: 18px;
        color: #FFFCFC;
        border: none;
        -webkit-transition: all linear 0.3s;
        transition: all linear 0.3s; }
        footer .flex .spam_item > button:hover {
          background: #207fec; }
        footer .flex .spam_item > button:active {
          background: #1c6dca; }
  footer .sub_footer {
    padding: 0px 375px 0px 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 250px;
    margin-top: 50px; }
    footer .sub_footer .Copyright a {
      color: #728399; }
      footer .sub_footer .Copyright a:hover {
        color: #2389FF; }
    footer .sub_footer .politics a {
      color: #728399; }
      footer .sub_footer .politics a:hover {
        color: #2389FF; }

@media only screen and (max-width: 1500px) {
  header .sup_header {
    padding: 11px 25px 0 40px;
    white-space: nowrap; }
  header .sub_header {
    padding: 0px 30px 0 40px;
    white-space: nowrap; }
  header .main_header {
    padding: 99px 30px 0px 40px;
    background-image: none;
    background: url(../img/women_adaptive.png) right center/auto auto no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F4F7FE), to(rgba(244, 247, 254, 0.5)));
    background: url(../img/women_adaptive.png) right center/auto auto no-repeat, linear-gradient(180deg, #F4F7FE 0%, rgba(244, 247, 254, 0.5) 100%); }

  main .principle {
    padding: 98px; }
  main .effect {
    padding: 20px;
    padding-bottom: 93px; }
  main .reviews {
    padding: 25px;
    padding-bottom: 50px; }
    main .reviews_wrapper {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      main .reviews_wrapper_card:nth-child(3) {
        display: none; }
  main .partners {
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 50px; }
  main .professional {
    padding: 25px;
    padding-top: 50px; }

  footer {
    padding: 50px; } }
@media only screen and (max-width: 1200px) {
  header .sup_header {
    padding: 10px 10px 0px 10px; }
    header .sup_header_menu {
      gap: 20px; }
    header .sup_header_login {
      margin-left: 200px; }
  header .sub_header {
    padding: 0; }
    header .sub_header img {
      margin-right: 40px; }
    header .sub_header_menu {
      gap: 10px; }
  header .main_header {
    background: url(../img/women_adaptive.png) 400px center/auto auto no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F4F7FE), to(rgba(244, 247, 254, 0.5)));
    background: url(../img/women_adaptive.png) 400px center/auto auto no-repeat, linear-gradient(180deg, #F4F7FE 0%, rgba(244, 247, 254, 0.5) 100%); }

  footer {
    padding: 50px 0px 0px 20px; }
    footer .flex {
      gap: 50px; }
      footer .flex .follow_item_img_social {
        min-width: 30px;
        min-height: 30px; }
      footer .flex .pages_item > h3, footer .flex .product_item > h3 {
        font-size: 18px; }
      footer .flex .pages_item a, footer .flex .product_item a {
        font-size: 15px; }
      footer .flex .spam_item > h3 {
        font-size: 18px; }
      footer .flex .spam_item > input {
        width: 230px; }
      footer .flex .spam_item > button {
        width: 255px; }
    footer .sub_footer {
      padding: 0;
      padding-bottom: 20px; } }
@media only screen and (max-width: 992px) {
  header .sup_header {
    display: none;
    height: 70px;
    padding: 0; }
    header .sup_header img {
      margin-right: 0; }
    header .sup_header_menu {
      display: none; }
    header .sup_header_login {
      display: none; }
  header .sub_header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    background: white;
    padding: 20px 0px 0px 20px; }
    header .sub_header_adaptive_block {
      display: block; }
      header .sub_header_adaptive_block .burger {
        position: relative; }
        header .sub_header_adaptive_block .burger img {
          cursor: pointer;
          position: absolute;
          right: 20px;
          bottom: 10px; }
    header .sub_header_menu {
      display: none; }
    header .sub_header_wrapper {
      display: none; }
  header .main_header {
    padding: 0;
    padding-top: 45px;
    height: 650px;
    background: url(../img/women_adaptive.png) center 225px/auto auto no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F4F7FE), to(rgba(244, 247, 254, 0.5)));
    background: url(../img/women_adaptive.png) center 225px/auto auto no-repeat, linear-gradient(180deg, #F4F7FE 0%, rgba(244, 247, 254, 0.5) 100%); }
    header .main_header h1 {
      display: block;
      font-size: 47px;
      max-width: 100%;
      margin-left: 40px; }
    header .main_header p {
      margin-left: 40px;
      margin-bottom: 350px;
      font-size: 26px;
      max-width: 100%; }
    header .main_header button {
      margin: 0 auto;
      width: 75%;
      height: 10%; }

  main .partners_logo img:nth-child(1) {
    display: none; }
  main .partners_logo img:nth-child(2) {
    display: none; }
  main .effect {
    padding: 20px 93px 93px 93px; }
  main .professional {
    height: 289px; }
    main .professional h2 {
      line-height: 40px; }
    main .professional h3 {
      padding-top: 20px; }

  footer .flex {
    display: block; }
    footer .flex .follow_item p {
      font-size: 21px;
      max-width: none;
      line-height: 30px; }
    footer .flex .follow_item h3 {
      font-size: 20px; }
    footer .flex .pages, footer .flex .product {
      display: none; }
    footer .flex .spam {
      display: none; }
  footer .sub_footer .politics {
    display: none; } }
@media only screen and (max-width: 768px) {
  header .main_header {
    background: url(../img/women_adaptive2.png) center center/auto auto no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F4F7FE), to(rgba(244, 247, 254, 0.5)));
    background: url(../img/women_adaptive2.png) center center/auto auto no-repeat, linear-gradient(180deg, #F4F7FE 0%, rgba(244, 247, 254, 0.5) 100%); }
    header .main_header p {
      margin-bottom: 300px; }

  main .principle {
    padding: 80px 20px 80px 20px; }
    main .principle > h2 {
      line-height: 30px; }
    main .principle_wrapper {
      max-width: none; }
      main .principle_wrapper_card {
        max-width: none; }
        main .principle_wrapper_card > p {
          max-width: none; }
  main .effect {
    padding: 0px 20px 0px 20px; }
    main .effect > h2 {
      line-height: 47px; }
    main .effect_wrapper {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  main .reviews {
    padding: 0px 20px 0px 20px;
    min-height: none; }
    main .reviews_flex_wrapper_button {
      display: none; }
    main .reviews_wrapper {
      width: auto; }
      main .reviews_wrapper_card {
        max-width: 335px;
        max-height: 275px; }
        main .reviews_wrapper_card:nth-child(2) {
          display: none; }
  main .partners {
    margin-top: 60px; }
    main .partners_logo {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      main .partners_logo img:nth-child(4) {
        display: none; }
      main .partners_logo img:nth-child(5) {
        display: none; }
  main .professional {
    background: linear-gradient(92.31deg, #2389FF 0.74%, rgba(35, 137, 255, 0.5) 98.19%); }

  footer .flex .follow_item p {
    font-size: 15px; }
  footer .flex .follow_item h3 {
    font-size: 16px; } }
@media only screen and (max-width: 650px) {
  header .main_header {
    background: url(../img/women_adaptive2.png) center bottom/auto auto no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F4F7FE), to(rgba(244, 247, 254, 0.5)));
    background: url(../img/women_adaptive2.png) center bottom/auto auto no-repeat, linear-gradient(180deg, #F4F7FE 0%, rgba(244, 247, 254, 0.5) 100%); } }
@media only screen and (max-width: 480px) {
  header .sub_header_adaptive_block {
    display: block; }
    header .sub_header_adaptive_block .burger img {
      right: 0px;
      bottom: 10px; }
  header .main_header {
    background: url(../img/women_adaptive2.png) center 200px/auto auto no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F4F7FE), to(rgba(244, 247, 254, 0.5)));
    background: url(../img/women_adaptive2.png) center 200px/auto auto no-repeat, linear-gradient(180deg, #F4F7FE 0%, rgba(244, 247, 254, 0.5) 100%); }
    header .main_header h1 {
      text-align: center;
      font-size: 33px;
      margin: 0; }
    header .main_header p {
      text-align: center;
      margin: 0;
      margin-bottom: 80%; }

  main .principle > h2 {
    text-align: center;
    line-height: 56px; }
  main .principle > p {
    text-align: center; }
  main .effect > h2 {
    text-align: center;
    font-size: 37px; }
  main .effect > p {
    text-align: center; }
  main .reviews {
    padding-left: 5px;
    padding-right: 5px; }
    main .reviews_flex_wrapper > h2 {
      line-height: 50px;
      text-align: center; }
    main .reviews > p {
      text-align: center; }
    main .reviews_wrapper_card {
      min-width: 0;
      min-height: 0;
      padding-bottom: 20px; }
  main .partners {
    padding-left: 5px;
    padding-right: 5px; }
    main .partners > h2 {
      text-align: center;
      line-height: 50px; }
    main .partners > h3 {
      text-align: center; }
  main .professional {
    padding-left: 5px;
    padding-right: 5px; }
    main .professional > h2 {
      font-size: 27px; }
    main .professional > h3 {
      font-size: 16px; }
    main .professional > a > button {
      margin-top: 20px; } }

/*# sourceMappingURL=style.css.map */